// post.html.jade
doctype html
html
  head
    meta(charset='UTF-8')
    title= document.title
    link(type='text/css', rel='stylesheet', href='../css/all.css')
  body
    h1= document.title
    div.content!= content